<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FreeTextSearchEngineService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
  <nlog>
    <targets>
      <target name="console" type="Console" layout="${longdate} ${callsite} ${level} ${message}" />
      <target name="debugger" type="Debugger" layout="${longdate} ${callsite} ${level} ${message}"/>
      <target name="file" type="File" layout="${longdate} ${callsite} ${level} ${message}" fileName="Log.txt"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console,debugger,file" />
    </rules>
  </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <FreeTextSearchEngineService.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>5000</value>
            </setting>
        </FreeTextSearchEngineService.Properties.Settings>
    </applicationSettings>
</configuration>